*{
    padding: 0px;
    margin: 0px;
    font-family: sans-serif;
    }
    body{
    height: 100vh;
    /* background-image:linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.6)),url(mainpage.jpg) ; */
    background-color:white;
    background-position: center;
    background-size:cover;
    overflow-x: hidden;
    position: relative;
    }
    a{
        text-decoration:none;
        color:inherit;
    }a:hover 
    {
        
         text-decoration:none; 
         color:inherit;
         
    }
    
    .nav_bar{
    display: flex;
    padding: 10px 120px;
    }
    .nav_logo img{
    width: 100px;
    margin-left: -70px;
    
    }
    .nav_links{
    flex: 1;
    }
    .nav_links ul{
    float: right;
    display: inline;
    }
    .nav_links ul li{
    list-style: none;
    display: inline-block;
    color: white;
    padding: 8px 25px;
    letter-spacing: 1px;
    margin-right: 5px;
    margin-top: 10px;
    }
    .nav_links ul li a{
    text-decoration: none;
    font-size: 13px;
    font-weight: bold;
    }
    #home:hover{
    color: rgb(180, 175, 175);
    
    
    }
    #log{
    color: white;
    border: white solid 1px;
    }
    #log:hover{
    color: rgb(180, 175, 175);
    border:  rgb(180, 175, 175) solid 1px;
    }
    .btn{
    float: right;
    padding: 10px 20px;
    border: 0;
    background: rgb(247, 247, 67);
    font-weight: bold;
    cursor: pointer;
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    margin-top: 10px;
    
    }
    .btn:hover{
    background: yellow;}
  
    #mlogo{

        height: 70px;
        }
        .he{
            height: 500px;
            width: 200px;
           
            margin-top: 100px;
            padding-left: 50px;
            font-weight: bold;
            font-size: 16px;
        }
        
#menu{
    font-size: 22px;
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    
    }
    .menul{
    
    
    
    
    text-align: center;
    
    color: rgb(83, 83, 83);
    }
    #m1:hover{
        color: rgb(24, 24, 24);
        
        background-color: rgb(201, 201, 201);
        }
        #m2:hover{
        color: rgb(24, 24, 24);
        
        background-color: rgb(201, 201, 201);
        }