*{
    padding: 0px 0px;
    margin: 0px 0px;
    font-family: sans-serif;
}
body{
   
    height: 60vh;
    /* background-image:url({{asset('mainpage.jpg/images')}})  ; */
 /* background-image: url({{ URL::asset('images/mainpage.jpg')}}); */
 background-color:white;

    background-position: center;
    background-size:cover;
    overflow-x: hidden;
    position: relative;
}
.main{
    align-items: center;
    text-align: center;
    margin: auto;
    max-width: 400px;
    border-radius: 20px;
    background: rgba(0,0,0,0.8);
    box-sizing: border-box;
    padding: 40px;
    color: #fff;
    margin-top: 100px;
}
p{
    color: white;
}
input[type=text],input[type=password]{
    width: 100%;
    box-sizing: border-box;
    padding: 12px 5px;
    background: rgba(0,0,0,0.10);
    outline: none;
    border: none;
    border-bottom: 1px dotted #fff;
    color: #fff;
    border-radius: 5px;
    margin: 5px;
    font-weight: bold;
}
.btn1{
    width: 100%;
    box-sizing: border-box;
    padding: 10px 0px;
    margin-top: 30px;
    outline: none;
    border: none;
    background: #60adde;
    opacity: 0.7;
    border-radius: 20px;
    font-size: 20px;
    color: #fff;

}
.btn1:hover{
    background: #003366;
    opacity: 0.7;
}
ul {
list-style-type: none;
}
p{
font-size: 30px;
font-family: sans-serif;
font-weight: bold;
}
span{
font-size: 18px;
}